*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    margin:0;
    padding:0;
    background:#D9D9D9;
    font-family: 'Poppins';
}

#page{
    min-height:100vh;
	display:flex;
	flex-direction:column;
}

.titleHeader{
    color: white;
    text-align: center;
    background-color: #3C6E71;   
}

.title{
    margin: 1%;
    color: #3C6E71;   
}

#content{
    flex-grow:1;
}

#footer{
    background-color: #353535;
    height : 7vh;
    color: white;
    display: flex;
}

#header{
    align-items : center;
    position: relative;
    background-color: #353535;
    height : 7vh;
    position: sticky;
    top:0;
    color: white;
    padding: 2%;
    display:flex;
}

.efrei_logo{
    width: 100px;
    height: 100px;
}

.footerLink{
    width : 100%;
}

#a-proposLink{
    text-align:center;
}

.link{
    color: white;
    text-decoration: none;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    background: rgb(255, 254, 254);
    width: 100%;
    height: 1px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.6s;
  }
  
  .link:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
  }

.introduction{
    font-size: medium;
    text-align: center;
    color: #353535;
    margin: 1%;
}

.paragraphe{
    text-align: justify;
    color: #353535;
    margin: 1%;
    font-size: medium;
}

.headerLink{
    width: 100%;
    text-align: center;
}

.footerLink{
    width: 100%;
    margin:auto;
}

#text{
    display: flex;
    flex-direction: column;
}