body{
    margin:0;
    padding:0;
    background: #333;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    font-size:30px;
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 90px;
    margin-top:70px;   
}
.box{
    height: 200px;
    width: 200px;
    background: salmon;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hamburgerMenu{
    width: 60px;
    height: 42px;
    cursor: pointer;
    position: relative;
}

.lignes{
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #000;
    position: absolute;
    transition: all .5s ease-in-out;
}

.lignes:nth-child(1){
    top: 0px;
}
.lignes:nth-child(2){
    top: 18px;
}
.lignes:nth-child(3){
    top: 36px;
}

.bodyContent{
    flex:10;
}

footer{
    background-color: red;
    flex : 1;
}



/*Animation*/

.hamburgerMenu.active .lignes:nth-child(1){
    opacity: 0;
    transform: translateX(-100%);
}

.hamburgerMenu.active .lignes:nth-child(3){
    opacity: 0;
    transform: translateX(100%);
}